.title{
    text-align: center;
    color: #212ea0;
    font-size: 12px;
    font-weight: 350;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title p {
    font-size: 2rem;
    color: #090d19;
    margin-top: 5px;
    text-transform: none;
}
.title h2 {
    text-align: center;
    color: #212ea0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 5px;
}

