@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100vw !important;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0 !important; 
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}
a {
    color: #000000 !important;
    text-decoration: none !important;
}
